/*
Name: HTML Resume CSS
Description: Simple CSS layout for my HTML based resume
Author: Dustin Henrich
Author URI: http://www.dustinhenrich.com
*/


/*/////////////////////////////
	         General Styles
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

body{
	background:#FFFFFF;
	}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
            Layout Styles
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#container{
	position: relative;
	margin: 20px;
	background-color: #FFFFFF;
	width: 100%;
}

#title{
	text-align: center;
	padding-top: 15px;
}

#contact-info{
	margin: 15px;
	float: left;
	text-align: left;
	width: 20%;
}

#objective{
	margin: 10px;
	padding-top: 15px;
}

#education{
	float: left;
	clear: left;
	margin: 15px;
}

#experience{
	clear: both;
	margin-left: 10px;
}

